@use "./variables" as var;

%flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

%posCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Flex Positioning
@mixin flexPos($dir: row, $justify: center, $align: center){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}


// ===== Headings =====
@mixin headings($size: var.$headings-xxl, $lineHeight: var.$lineHeight-sm){
    font-family: var.$font-heading;
    font-size: $size;
    line-height: $lineHeight;
}

// ===== Layout =====
@mixin container{
    width: 80%;
}

@mixin grid{
    display: grid;
}

@mixin two-column{
    grid-template-columns: repeat(2, 1fr);
}

@mixin four-column{
    grid-template-columns: repeat(4, 1fr);
}

// ===== Breakpoints =====
@mixin respond ($breakpoint) {
    @if $breakpoint == desktop-lg { // >= 1025px
        @media only screen and (min-width: 64.0625em){
            @content;
        }
    }

    @else if $breakpoint == desktop-sm { // <= 1024px
        @media only screen and (max-width: 64em) {
            @content;
        }
    }

    @else if $breakpoint == tablet { // <= 768px
        @media only screen and (max-width: 48em){
            @content;
        }
    }

    @else if $breakpoint == mobile { // <= 550px
        @media only screen and (max-width: 34.375em){
            @content;
        }
    }
}