@use "../abstracts/" as abs;

.header{
    width: 100%;
    
    background-color: greenyellow;

    @include abs.flexPos(column, space-between);

    &-container{
        @include abs.container;

        background-color: burlywood;
    }
}